## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Taltal,CL,57.36,overcast clouds,-25.4000,-70.4833,Residencial Karime
1,6,Mar Del Plata,AR,51.82,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,8,Castro,BR,63.28,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
3,9,Port Lincoln,AU,64.92,clear sky,-34.7333,135.8667,Port Lincoln Hotel
4,11,Nenjiang,CN,54.37,scattered clouds,49.1833,125.2167,Nenjiang Apartment
5,17,Muros,ES,60.24,broken clouds,42.7762,-9.0603,Apartment Av. Castelao
6,18,Jamestown,US,63.72,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,20,Mataura,NZ,52.48,light rain,-46.1927,168.8643,Ellie's Villa
8,25,Bluff,NZ,52.81,moderate rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
9,26,Huesca,ES,54.73,clear sky,42.1362,-0.4087,Hotel Sancho Abarca SPA Huesca

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[['Lat', 'Lng']]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Crossville')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Crossville')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Garden City')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Griffith')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Batavia')]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
220,649,Crossville,US,68.52,few clouds,35.949,-85.0269,Hampton Inn Crossville

In [16]:
test = vacation_start.to_numpy()
print(test[0][5])

35.949

In [17]:
start = vacation_start.to_numpy()
start = (start[0][5],start[0][6])
print(start)

(35.949, -85.0269)

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = (start[0][5],start[0][6])

end = start

stop1 = vacation_stop1.to_numpy()
stop1 = (stop1[0][5],stop1[0][6])

stop2 = vacation_stop2.to_numpy()
stop2 = (stop2[0][5],stop2[0][6])

stop3 = vacation_stop3.to_numpy()
stop3 = (stop3[0][5],stop3[0][6])

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
total_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(total_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,649,Crossville,US,68.52,few clouds,35.9490,-85.0269,Hampton Inn Crossville
1,182,Garden City,US,66.45,few clouds,42.3256,-83.3310,Quality Inn & Suites Banquet Center
2,519,Griffith,US,69.94,clear sky,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
3,553,Batavia,US,69.76,clear sky,41.8500,-88.3126,Comfort Inn & Suites Geneva - West Chicago

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))